NODE_ENV=production
LOG_LEVEL=info
PUBLIC_WEB_URL=https://nexaly.app
PUBLIC_API_URL=http://api:3001
API_PORT=3001
WEB_PORT=3000

POSTGRES_USER=nexaly
POSTGRES_PASSWORD=
POSTGRES_DB=nexaly
DATABASE_URL=postgresql://nexaly:ERSETZE_PASSWORT@postgres:5432/nexaly?schema=public
REDIS_URL=redis://redis:6379

# openssl rand -hex 32
SESSION_SECRET=

DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=https://nexaly.app/api/auth/discord/callback

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
YOUTUBE_API_KEY=
KICK_CLIENT_ID=
KICK_CLIENT_SECRET=

ASSET_DIR=/app/uploads
ACME_EMAIL=
